<section>
  <h2>Create New Recipe</h2>

  <form class="new-recipe-form">
    <div>
      <label for="recipe-title">Title</label>
      <input type="text" id="recipe-title" name="recipe-title" />
    </div>
    <div>
      <label for="recipe-url">Link</label>
      <input id="recipe-url" name="recipe-url" />
    </div>
    <div>
      <label for="recipe-text">Instructions</label>
      <textarea id="recipe-text" name="recipe-text">
        {{!-- instructions go here --}}
      </textarea>
      <label for="ingredients">Add up to 3 main ingredients, seperated by commas</label>
      <input id="ingredients" name="ingredients" />
      <br>
    </div>
    <button id="create-recipe-btn" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if recipes.length}}
  <h2>Your Recipes</h2>
<section>
  <ol>
    {{#each recipes as |recipe|}}
    <li>
      <a href="/dashboard/edit/{{recipe.id}}" class="edit-link">Edit this recipe </a>
      {{> recipe-info recipe}}
    </li>
    {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-recipe.js"></script>