<section class="hero">
  <div class="hero-cta">
  <h1 class="header1">Pantry Hacker</h1>
  <p>
    Ever come home from a long day of work and stare blankly in your fridge thinking what to make? You've come to the right place. Pantry Hacker allow a user to input indregients they already have in their fridge and provide meal options in seconds. You can also create a account to post your own recipes as well as comment on your favorites? Give it a try below...
</p>
  </div>
</section>

<div>
    Start typing ingredients (seperated by spaces) to search our recipe database!
</div>

<form class="recipe-search-form">
    <label for="ing-list">What's in your pantry?</label>
    <input id="ing-list" name="ing-list" />
    <br>
    <button class="btn btn_common" type="submit">Search recipes!</button>
    </div>
</form>

{{!-- recipe stuff shows up here --}}

<ol class="recipe-list">
  {{#each recipes as |recipe|}}
  <li>
    {{> recipe-info recipe }}
  </li>
  {{/each}}
</ol>

<script src="/javascript/recipe-search.js"></script>