<section class="hero">
  <div class="hero-cta">
  <h1 class="header1">Spice up your life!</h1>
  <p>
    Ever come home from a long day of work and stare blankly in your fridge thinking what to make? You've come to the right place.<br> 
    With <span id='pantry-hacker-p'>Pantry Hacker</span>, all you do is input indregients you have on hand and it provides meal options in seconds! 
    Create an account to post your own recipes, save your favorites, and add comments!
</p>
  </div>
</section>

<div id='search-section'>
    Start typing ingredients (seperated by commas) to search our recipe database!
<div>
<form class="recipe-search-form">
    <label for="ing-list">What's in your pantry?</label>
    <input id="ing-list" name="ing-list" size='50' />
    <br>
    <button class="btn btn_common" type="submit">Search recipes!</button>
</form>
</div>
</div>

{{!-- recipe stuff shows up here --}}

<ol class="recipe-list">
  {{#each recipes as |recipe|}}
  <li>
    {{> recipe-info recipe }}
  </li>
  {{/each}}
</ol>

<script src="/javascript/recipe-search.js"></script>