* {
  box-sizing: border-box;
  background-color: rgb(46, 44, 44);
}

body,
html {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ccc;
}

.hero {
  background-image: url('/images/hero-bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 80%;
  text-align: left;
  height: 400px;
  font-size: 30px;
  font-weight: 580;
  color: aliceblue;
  padding: 15px;
  border-radius: 15px;
}

.hero-cta {
  background: transparent;
}

.hero p {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.header1 {
  color: #ffd447;
  padding: 0 15px;
  background: transparent;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

#header-nav a {
  font-size: 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  color: #faa28e;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

div {
  margin: 15px;
}

input {
  margin: 5px;
  width: max-content;
}

a {
  text-decoration: none;
  color: #ffd447;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #faa28e;
}

button {
  background-color: #ffd447;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #faa28e;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #ffd447;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #ffd447;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.3s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #d41414;
}

.delete-post-btn {
  transition: 0.3s;
  background-color: #d41414;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.delete-post-btn:hover {
  color: #faa28e;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  color: rgb(255, 196, 0);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 48px;
  position: sticky;
}

#search-section {
  justify-content: center;
  text-align: center;
  padding: 30px 0 20px 0;
}

.recipe-section {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.recipe-card {
  border-radius: 15px;
  border: 2px solid #ccc;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  position: relative;
  flex-direction: row;
  flex-basis: 0;
  flex-grow: 0.5;
  max-width: 700px;
  max-height: max-content;
  align-content: center;
  align-items: stretch;
}

.title {
  background: transparent;
  border-bottom: 1px solid #ffd447;
  color: #ffd447;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 0 5px 0;
  text-decoration: none;
}

h3 {
  color: #ffd447;
  font-weight: 300;
  padding-left: 30px;
  text-align: left;
}

li {
  color: #ccc;
  font-size: 1rem;
  text-align: left;
}

p {
  font-size: medium;
  font-weight: normal;
  padding: 15px;
}

.instructions {
  color: #ccc;
  margin: 20px;
  text-align: left;
  font-size: 15px;
}

.search_wrap {
  width: 500px;
  margin: 38px auto;
}

.search_wrap .search_box {
  transition: 0.3s;
  position: relative;
  width: 500px;
  height: 60px;
}

.search_wrap .search_box .input {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .input {
  transition: 0.3s;
  padding: 80px;
  padding-right: 0px;
  border-radius: 50%;
}

.search_wrap .search_box .btn {
  transition: 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #2e2c2c;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search_wrap .search_box .btn:hover {
  color: whitesmoke;
}

.search_wrap .search_box .btn.btn_common .fas {
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2e2c2c;
  font-size: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#create-recipe-btn {
  transition: 0.3s;
  color: #2e2c2c;
  text-decoration: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#create-recipe-btn:hover {
  background-color: #faa28e;
}

.btn {
  transition: 0.3s;
  color: #2e2c2c;
  text-decoration: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
}

#logout,
#pantry-hacker-p,
.card-subtitle {
  background: transparent;
  transition: 0.3s;
  color: #faa28e;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-nav a:hover {
  font-style: normal;
  color: #ffd447;
}

#logout:hover {
  color: #d41414;
}

#seperator {
  color: aliceblue;
}
